<div class="page-wrapper">
  <h2 class="section-header">Welcome back, <%= @user.name %>!</h2>
    <div class="ui center aligned text container">
  
  <p>What would you like to do today?</p>


</div>


