<div class="welcome-wrapper">
  <div class="ui center aligned thinner text container">
    <h1 class="landing-welcome">welcome back</h1>
    <h1 class="white secondary-font landing-text"><%= @user.name %></h1>
    <h3 class="white normal ui header">Click on <i class="mini circular inverted orange sidebar icon"></i>to begin</h3>
  </div>
  </div>

</div>


