<div class="welcome-wrapper">
  <div class="ui center aligned thinner text container">
    <h1 class="landing-welcome">welcome back</h1>
    <h1 class="white secondary-font landing-text"><%= @user.name %></h1>
    <span class="white normal ui small header">Click or tap </span><i class="small circular inverted orange sidebar icon"></i><span class="white normal ui small header"> in the top</span><br>
    <span class="white normal ui small header">right corner to begin.</span>
  </div>
  </div>

</div>


