<div class="ui secondary pointing menu">
  <%= link_to "Parties", user_parties_path, class: "white item" %>
  <%= link_to "Table #{@customer.party.table.table_num}", party_path(@customer.party_id), class: "white item" %>
  <a class="active item"> Guest <%= @customer.customer_num %> </a>
  <%= link_to new_customer_order_path(@customer.id), class: "white item" do %>
    Order<i class="spoon icon"></i>
  <% end %>
</div>