
<div class="ui text container">
  <%= render 'navigation' %>
  <div class="ui center aligned vertical segment">

  <h5 class="ui inverted header main-menu">Guest <%= @customer.customer_num %> Order</h5>
