<div class="ui text container">
<%= render 'navigation' %>
  <div class="ui center aligned vertical segment">


    <h5 class="ui inverted header secondary-font main-menu">CURRENT TABLES</h5>
    <div class="hidden ui divider"></div>
      <div class="ui centered grid">
      
        <% @tables.each do |table| %>
         <div class="ui vertical segment">
            <div class="ui circular segment tables">
              <h3 class="ui header">Table <%= table.table_num %>
                <div class="sub header">Seats: <%= table.num_seats %></div>
              </h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui thinner text container">
        <h1 class="ui orange horizontal divider secondary-font header">ADD A TABLE</h1>      
        <div class="ui center aligned vertical segment">
          <%= render 'addtable_form' %>
        </div>
      </div>
  </div>
</div>
