<!-- FULL MENU PAGE -->

<div class="ui text container">
  <%= render 'menu_navigation2' %> 
  
  <div class="ui center aligned vertical segment">
    <h5 class="ui inverted header secondary-font main-menu">EDIT MENU ITEM</h5>
  </div>
    <%= render 'editmenuitem_form' %> 
  
</div>
</div>





  
