<!-- FULL MENU PAGE -->

<div class="ui text container">
  <%= render 'menu_navigation1' %> 
  
  <div class="ui center aligned vertical segment">
    <h5 class="ui inverted header secondary-font main-menu">ALL MENU ITEMS</h5>
      <%= link_to "ADD SOMETHING YUMMY!", new_item_path, class: "ui large orange secondary-font button" %>
      <div class="ui hidden divider"></div>

  

    <div class="ui text container">
    <%= render 'menu' %> 
    </div>
</div>
</div>





  
