
<div class="ui text container">
  <%= render 'menu_navigation3' %> 
  
  <div class="ui center aligned vertical segment">
    <h5 class="ui inverted header secondary-font main-menu">ADD MENU ITEM</h5>
  </div>
    <%= render 'addmenuitem_form' %> 
  
</div>
</div>