/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);


body.pushable.ui.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(0,39,72) !important;
  overflow: auto;
}

.welcome-wrapper, .page-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.page-wrapper {
  background: url('lights.png') no-repeat fixed;
  background-size: cover;
}

.welcome {
  font: 9rem 'Grand Hotel';
  color: white;
  text-align: center; 
  margin: 0 auto;
  line-height: 1.12;
}


#login-box { position: relative; }

.pusher {
  background-color: transparent !important;
  position: absolute !important;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto !important;
}


.launch.icon.item {
  position: fixed;
  top: 4%;
  right: 10%;
  z-index: 1000;
  border: 5px solid white;
  border-radius: 50%;
}

.small.circular.inverted.orange.sidebar.icon{
  margin-right: 0;
}


.ui.vertical.inverted.sidebar.menu.top {
  background: url('lights-transparent.png') no-repeat fixed;
  background-size: cover;
  /*background-color: rgba(0,0,0,0.45);*/
  text-align: center;
}


.ui.secondary.pointing.menu {
  margin-top: 10px;
}



.landing { width: 290px; }



.section-header {
  font: 2.5em 'Grand Hotel';
  font-weight: 400;
  color: rgba(224,157,98,1);
  text-align: center;
  margin-top: 40px;
  text-transform: capitalize;
}

.page-header {
  font: 2.5em 'Oswald';
  text-align: center;
  margin-top: 40px;
}

/*.main-menu,  a.logout.button { 
  font-family: 'Oswald' !important; 
}
*/
.main-menu { 
  font-size: 2.5em !important;
  line-height: 1.7;
}

input[type="text"], input[type="password"], input[type="number"] {
  color: white !important;
  font-family: 'Lato' !important;
}

input[type="number"] {
  font-size: 2em !important;
  text-align: center;
}

.modal input[type="text"], .receipt >.row {
  color: black !important;
}



/* Modal Styling */
.modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: auto;
}

.modal-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.modal-content {
  position: relative;
  background-color: transparent;
  border-radius: 0.5rem;
}

.close-modal {
  position: absolute;
  z-index: 10;
  top: 4%;
  right: 0;
}

.close-modal:hover {
  cursor: pointer;
}

.ui.card {
  padding: 20px 0 !important;
}

.ui.grid >.row {
  padding-bottom: 0;
  color: white;
}







/* Available & Unavailable Table Styling */

.selectable-table > .ui.circular.segment {
  background-color: rgba(243,218,196,1);
  border: 2px solid rgba(224,157,98,0.8);
}

.selectable-table > .ui.circular.segment:hover {
  background-color: rgba(243,218,196,0.85);
}

.unselectable-table > .ui.circular.segment {
  background-color: rgba(211,211,211,1);
  border: 2px solid rgb(190,190,190);
}

/********************************************/



div.subtotal.row {
  padding-top: 0 !important;
  font-style: italic;
}


.dimmed { color: rgba(255,255,255,0.65) !important;}



a:hover{ cursor: pointer;}
a.item { padding: 13px 8px !important; }
.no-display { display:none; }
.italic {font-style: italic;}
.secondary-font { font-family:'Oswald' !important; }
.white { color: white !important; }
.normal { font-weight: 400 !important }
.thinner { width: 60% !important; }
.row.basic.button{
  padding: 14px 0 !important;
  margin: 7px 0;
}

@media all and (max-width:630px) {
  .page-wrapper {
    background-image: url('lights-small.png');
    background-size: cover;
    background-position: right top;
  }

  .launch.icon.item {
    position: fixed;
    top: 3%;
    right: 2%;
  }
  .close-modal {
  position: absolute;
  z-index: 10;
  top: -4%;
  right: 0;
  }

}


