/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);



body.ui.container {
  background: url('tealbg.png') no-repeat fixed;
  background-size: fixed;
  background-color: rgb(172,199,198);
}



.page-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.welcome-wrapper {
  display: flex;
}

.landing {
  width: 290px;
}
.welcome {
  font: 10rem 'Grand Hotel';
  text-align: center; 
  margin: 0 auto;
  line-height: 1.1;
}

h2.section-header {
  font: 2em 'Grand Hotel';
  text-align: center;
  margin-top: 40px;
  text-transform: capitalize;
}

.bg-main, .bg-blue, .bg-pink {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-main {
  background: url('https://joetowey.files.wordpress.com/2015/10/plexus-balloons1.gif') no-repeat fixed;
  background-size: cover;
  opacity: 0.75;
}

.bg-blue { background-color: rgb(82,175,243); }

.bg-pink { background-color: rgb(243,135,138); }

.ui.card {
  padding: 20px 0 !important;
}
.done {
  text-decoration: line-through;
  color: gray !important;
}
.ui.grid >.row {
  padding-bottom: 0;
}

/* Styles for Available & Unavailable Tables */

.selectable-table > .ui.circular.segment {
  background-color: rgb(222,213,119);
}

.selectable-table > .ui.circular.segment:hover {
  background-color: #C8BA1D;
}

.unselectable-table > .ui.circular.segment {
  background-color: rgb(211,211,211);
}

/********************************************/

.no-display { display:none; }

div.subtotal.row {
  padding-top: 0 !important;
  font-style: italic;
}

#login-box {
  position: relative;
}

a.button, a.button:hover { color: black !important;}


@media all and (max-width:630px) {
  body.ui.container {
    background-image: none;
    /*background-color: rgb(172,199,198);*/
  }
}


