/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);


body.pushable.ui.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(0,39,72) !important;
}

.pusher {
  background-color: transparent !important;
  position: absolute !important;
  left: 0;
  width: 100%;
  height: 100%;
}


.launch.icon.item {
  position: fixed;
  top: 4%;
  right: 10%;
  z-index: 1000;
}

.thin.circle.icon {
  margin: 0;
  padding: 0 0 0 0;
}

.ui.vertical.inverted.sidebar.menu.top {
  background: url('lights-transparent.png') no-repeat fixed;
  background-size: cover;
  /*background-color: rgba(0,0,0,0.45);*/
  text-align: center;
}

.page-wrapper {
  position: absolute;
  background: url('lights.png') no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.welcome-wrapper {
  display: flex;
}

.landing {
  width: 290px;
}
.welcome {
  font: 9rem 'Grand Hotel';
  color: white;
  text-align: center; 
  margin: 0 auto;
  line-height: 1.12;
}

.section-header {
  font: 2.5em 'Grand Hotel';
  font-weight: 400;
  color: rgba(255,210,127, 1);
  text-align: center;
  margin-top: 40px;
  text-transform: capitalize;
}

.page-header {
  font: 2.5em 'Oswald';
  text-align: center;
  margin-top: 40px;
}

.main-menu,  a.logout.button { 
  font-family: 'Oswald' !important; 
}

.main-menu { 
  font-size: 2.5em !important;
  line-height: 1.7;
}

input[type="text"], input[type="password"] {
  color: white !important;
  font-family: 'Lato' !important;
}

.white {color: white !important;}

/* Modal Styling */
.modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

a.item {
  padding: 13px 8px !important;
}
.modal-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: transparent;
  border-radius: 0.5rem;
}

.close-modal {
  position: absolute;
  z-index: 10;
  top: 4%;
  right: 0;
}

.close-modal:hover {
  cursor: pointer;
}

.ui.card {
  padding: 20px 0 !important;
}
.done {
  text-decoration: line-through;
  color: gray !important;
}
.ui.grid >.row {
  padding-bottom: 0;
}

/* Available & Unavailable Table Styling */

.selectable-table > .ui.circular.segment {
  background-color: rgb(222,213,119);
}

.selectable-table > .ui.circular.segment:hover {
  background-color: #C8BA1D;
}

.unselectable-table > .ui.circular.segment {
  background-color: rgb(211,211,211);
}

/********************************************/

.no-display { display:none; }

div.subtotal.row {
  padding-top: 0 !important;
  font-style: italic;
}

#login-box {
  position: relative;
}

/*a, a:hover { color: white !important;}*/


@media all and (max-width:630px) {
  .page-wrapper {
    background-image: url('lights-small.png');
    background-size: cover;
    background-position: right top;
  }

  .launch.icon.item {
    position: fixed;
    top: 4%;
    right: 2%;
  }
  .close-modal {
  position: absolute;
  z-index: 10;
  top: -4%;
  right: 0;
  }

}


