<!DOCTYPE html>
<html>
<head>
  <title>Apiary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="ui container" id="bg-main">
  <div class="launch icon item">
    <i class="big icons">
      <i class="big inverted thin circle icon"></i>
      <i class="sidebar inverted icon toggle-button"></i>
    </i>
  </div>


<%= yield %>

</body>
</html>
